<footer class="footer mt-auto py-3 text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <span>"Mallonga" is the <a href="https://en.wikipedia.org/wiki/Esperanto">Esperanto</a> word for "short"</span> |
                <a href="https://github.com/scgrn/url-shortener">Github</a> | 
                <a href="/privacyPolicy.html">Privacy policy</a> 
            </div>
        </div>
    </div>
</footer>

