<br/>
<button class="btn btn-dark my-2" type="">Download 150x150 PNG QR code</button><br/>
<button class="btn btn-dark my-2" type="">Download 500x500 PNG QR code</button><br/>
<button class="btn btn-dark my-2" type="">Download EPS QR code</button><br/>
<br/>

