<%- include('./partials/header'); %>

<form action="/create" method="POST" class="my-4 form-inline">
    <label class="visually-hidden" for="targetURL">Enter target URL:</label>
    <input required placeholder="Enter target URL" type="url" name="targetURL" id="targetURL"
        class="form-control mr-2">
    <button class="btn btn-dark my-4" type="submit">Shorten</button>
</form>

<%- include('./partials/footer'); %>

