<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 offset-md-3 my-4">
                <h1>404: Not found</h1>
                <a href="/">Home</a>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>

</body>
</html>

