<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 offset-md-3 my-4">
                Your shortened URL is <a href="">https://mallonga.xyz/123456</a><br/>
                <button class="btn btn-dark my-2" onclick="navigator.clipboard.writeText('https://mallonga.xyz/123456')"type="">Copy to clipboard</button><br/>
                Your can view statistics for this URL by visiting <a href="/stats/123456">https://mallonga.xyz/stats/123456</a><br/>

<%- include('./partials/qrCode'); %>

                <a href="/">Home</a>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>

</body>
</html>

