<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 offset-md-3 my-4">
                Your shortened URL is <a href="">https://mallonga.xyz/123456</a><br/>
                <button class="btn btn-dark my-2" type="">Copy to clipboard</button><br/>
                Your can view hits by visiting <a href="">https://mallonga.xyz/stats/123456</a><br/>

                <br/>
                <button class="btn btn-dark my-2" type="">Download 150x150 PNG QR code</button><br/>
                <button class="btn btn-dark my-2" type="">Download 500x500 PNG QR code</button><br/>
                <button class="btn btn-dark my-2" type="">Download EPS QR code</button><br/>
                <br/>
                <a href="/">Home</a>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>

</body>
</html>

