<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 offset-md-3 my-4">
                Stats for <a href="">https://mallonga.xyz/123456</a><br/>
                <br/>
                Target URL:<br/>
                Date created:<br/>
                <br/>
                Total hits:<br/>
                Last hit:<br/>
                <br/>

<%- include('./partials/qrCode'); %>

                <a href="/">Home</a>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>

</body>
</html>

